*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.navbar-brand{
    margin-left: -0.5%;
}

.container-fluid img{
    height: 30px;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a2d9ff, #5f1782);
    padding: 5 !important;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav a{
    color: white !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: white;
    font-size: 25px !important;
}

.navbar-toggler{
    outline: none !important;
}

#banner{
    background-image: linear-gradient(to right, #a2d9ff, #5f1782);
    color: white;
    padding-top: 5%;
    height: 600px;
}

.banner-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
}

.banner-sub{
    font-size: 20px;
    font-weight: 400;
}

.wave{
    z-index: 20;
    margin-top: -23%;
}

#about{
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: white;
}


.title::before{
    content: "";
    background: #a2d9ff;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(62px);
}

.about-row{
    margin-top: 5%;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.resume-button{
    margin-top: 3%;
}

#projects{
    padding-top: 5%;
    margin-top: 15%;
}

.carousel{
    width:640px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.carousel-item{
    height: 320px;
}

.carousel-item:hover{
    background-color: grey;
}

#contact{
    padding-top: 5%;
    margin-top: 15%;
}

.contact-socials ul{
    display: flex;
    justify-content: center; 
    margin-top: 6.4%;
    margin-left: -1.5%;
}

.contact-socials li{
    font-size: 27px;
    list-style: none;
    margin: 0 10px;
}

.contact-socials ul li .fa {
    color: inherit;
    font-size: 25px;
    line-height: 50px;
}
.contact-socials ul li .fa:hover {
    color: #ffffff;
}
.contact-socials ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding: 4px 3px 0 3px;
    transition: 0.5s;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.contact-socials ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.contact-socials ul li:nth-child(1) a:hover {
    background-color: #BD081C;
}
.contact-socials ul li:nth-child(2) a:hover {
    background-color: #B0BEC5;
}
.contact-socials ul li:nth-child(3) a:hover {
    background-color: #0A66C2;
}
.contact-socials ul li:nth-child(4) a:hover {
    background-color: #E4405F;
}
.contact-socials ul li:nth-child(5) a:hover {
    background-color: #1877F2;
}


#footer{
    background-image: linear-gradient(to right, #a2d9ff, #5f1782);
    height: 400px;
    z-index: 0;
}

.footer-wave{
    margin-bottom: -23%;
    z-index: 1;
}